@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Tektur:wght@400..900&display=swap');

html {
    font-size: 16px;
    color: white;
}

body {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -ms-user-drag: none;
}

.location-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.25em 2em;
}

.location-navigation__item {
    display: block;
    color: lightblue;
    width: 160px;
    line-height: 1em;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
}

.location-navigation__item--left {
    text-align: left;
}
.location-navigation__item--right {
    text-align: right;
}

.info-bar {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    justify-content: center;
    align-items: center;
    padding: 0.5em 0;
}

.location-name {
    padding: 0;
    margin: 0;
    font-size: 36px;
    font-family: "Tektur", Inter, sans-serif;
}

.location-name--bigger-padding {
    padding: 0.5em 0;
    margin: 0;
}

.header {
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5)
    ),
    url(/imgs/metal-texture.png);
    background-repeat: repeat;
    background-size: 50%;
    width: 100vw;
    overflow: hidden;
}

.info-bar__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
}

.info-bar__item p {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
}

.info-bar__icon {
    width: 40px;
    height: 40px;
}

.location-name--mobile-only {
    display: block;
    text-align: center;
}

.location-name--desktop-only {
    display: none;
}

.resource {
    width: 300px;
    position: relative;
}

.resource__image {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.resource__main {
    width: 300px;
    height: 300px;
}
.resource__main--animated {
    animation: click-grow 0.1s ease;
}

.mining {
    background: url(/imgs/mining-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh;
}

.automatons__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}
.automatons__image {
    width: 80px;
    height: 80px;
}

.resource__automatons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
}

.automatons__amount {
    font-size: 1.5rem;
    font-weight: bold;
}

.automatons__menu {
    display: none;
}

.automatons__menu--visible {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    align-items: center;
    position: absolute;
    justify-content: center;
    top: 0;
    width: 240px;
    height: 100%;
    left: 50%;
    margin-left: -120px;
}
.automatons__menu button {
    display: block;
    width: 100%;
    color: white;
    border-radius: 8px;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    border: 1px solid transparent;
    background-color: #0c1821;
}

.automatons__menu button:hover {
    background-color: #0c1821;
    border: 1px solid white;
}

.resources-container {
    display: flex;
    flex-direction: row;
    gap: 100px;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 3em 100px 2em 100px;
}

.automation__main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.automation__info {
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

.automation__image {
    height: 150px;
    width: 150px;
}
.automation__stats {
    font-size: 1.5rem;
}
.automation__stats p {
    margin: 0.5em 0;
}
.automation__item-heading {
    display: block;
    text-align: center;
    margin: 0 0 0.5em 0;
    font-size: 20px;
    font-weight: 600;
    font-family: "Sarabun", sans-serif;
}
.automation__heading {
    font-size: 28px;
    padding: 0.25em 0;
    margin: 0;
    text-align: center;
    font-family: "Tektur", sans-serif;
}

.automation {
    background-color: rgba(0, 0, 0, 0.7);
}

.base {
    background: linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)
      ),
      url(/imgs/base-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    min-height: 100vh;
}

.building__name {
    display: block;
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    font-family: "Sarabun", sans-serif;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    padding: 0.1em 0 0.25em 0;
    line-height: 1em;
}
.building {
    width: 300px;
}
.building__image {
    width: 300px;
    height: 300px;
}

.base__main {
    width: 100vw;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 1em;
    column-gap: 100px;
    padding: 3em 0;
}

.cost-icon {
    width: 1.5em;
    height: 1.5em;
}

.building-menu {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 70vw;
    min-height: 460px;
    max-width: 920px;
    background-color: #0c1821;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1em 20px 2em 20px;
    border: 6px solid #1B2A41;
    border-radius: 8px;
}

.building-menu--visible {
    display: flex;
}

.building-menu__heading {
    text-align: center;
    font-size: 2rem;
    font-family: "Tektur", sans-serif;
    margin: 0;
}

.building-menu p {
    margin: 0;
}

.building-menu__cost {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25em;
    font-size: 20px;
    line-height: 1em;
    flex-wrap: wrap;
}

.building-menu__level-info {
    margin-bottom: 0.5em !important;
    text-align: center;
}

.button--building-menu {
    display: block;
    color: #0c1821;
    border-radius: 8px;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: bold;
    border: 1px solid transparent;
    background-color: lightblue;
    margin: 1em auto 0 auto;
}

.button--building-menu:hover {
    background-color: #CCC9DC;
}

@keyframes click-grow {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 18px;
    }
    .location-name--mobile-only {
        display: none;
    }
    .location-name--desktop-only {
        display: inline-block;
    }
    .header {
        width: 1000px;
        margin: 0 auto;
    }
    .location-name {
        font-size: 48px;
    }
    .location-navigation__item {
        font-size: 28px;
        width: 220px;
    }
    .info-bar {
        flex-direction: row;
        gap: 1em;
    }
    .resources-container {
        overflow: hidden;
        justify-content: center;
        padding: 0;
    }
    .automation__info {
        height: 200px;
    }
    .automation__image {
        height: 200px;
        width: 200px;
    }
    .automation__main {
        gap: 100px;
    }
    .mining {
        display: flex;
        flex-direction: column;
        justify-content: space-between; 
    }
    .automation__heading {
        font-size: 2rem;
        padding: 0;
    }
    .automation__item-heading {
        font-size: 1.5rem;
    }
    .automation__stats {
        font-size: 2rem;
    }
    .automation__main {
        display: none;
        padding-bottom: 1em;
    }
    .automation__main--visible {
        display: flex;
    }
    .building__name {
        font-size: 1.5rem;
    }
    .base__main {
        margin: 80px auto 0 auto;
        padding: 0;
    }
    .building-menu {
        padding: 1em 60px 2em 60px;
    }
}

@media (min-width: 1600px) {
    .resource {
        width: 400px;
    }
    .resource__main {
        width: 400px;
        height: 400px;
    }
    
    .automation__info {
        height: 300px;
    }
    .automation__image {
        height: 300px;
        width: 300px;
    }
}

@media (min-width: 2000px) {
    .building {
        width: 400px;
    }
    .building__image {
        width: 400px;
        height: 400px;
    }
    .base__main {
        max-width: 1600px;
    }
    .building__name {
        font-size: 2rem;
    }
    .base__main {
        margin: 100px auto 0 auto;
    }
}