html {
    font-size: 16px;
}

body {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -ms-user-drag: none;
}

.location-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.25em 2em;
}

.location-navigation__item {
    display: block;
    color: lightblue;
    width: 160px;
    line-height: 1em;
    font-size: 20px;
}

.location-navigation__item--left {
    text-align: left;
}
.location-navigation__item--right {
    text-align: right;
}

.info-bar {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    justify-content: center;
    align-items: center;
    padding: 0.5em 0;
}

.location-name {
    padding: 0;
    margin: 0;
    font-size: 36px;
}

.location-name--bigger-padding {
    padding: 0.5em 0;
    margin: 0;
}

.header {
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5)
    ),
    url(/imgs/metal-texture.png);
    background-repeat: repeat;
    background-size: 50%;
    width: 100vw;
    overflow: hidden;
}

.info-bar__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
}

.info-bar__item p {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
}

.info-bar__icon {
    width: 40px;
    height: 40px;
}

.location-name--mobile-only {
    display: block;
    text-align: center;
}

.location-name--desktop-only {
    display: none;
}

.resource {
    width: 300px;
    position: relative;
}

.resource__image {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.resource__main {
    width: 300px;
    height: 300px;
}
.resource__main--animated {
    animation: click-grow 0.1s ease;
}

.mining {
    background: url(/imgs/mining-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh;
}

.automatons__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}
.automatons__image {
    width: 80px;
    height: 80px;
}

.resource__automatons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
}

.automatons__amount {
    font-size: 1.5rem;
}

.automatons__menu {
    display: none;
}

.automatons__menu--visible {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    align-items: center;
    position: absolute;
    justify-content: center;
    top: 0;
    width: 240px;
    height: 100%;
    left: 50%;
    margin-left: -120px;
}
.automatons__menu button {
    display: block;
    width: 100%;
}

.resources-container {
    display: flex;
    flex-direction: row;
    gap: 100px;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 3em 100px 2em 100px;
}

.automation__main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.automation__info {
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

.automation__image {
    height: 150px;
    width: 150px;
}
.automation__stats {
    font-size: 1.5rem;
}
.automation__stats p {
    margin: 0.5em 0;
}
.automation__item-heading {
    display: block;
    text-align: center;
    margin: 0 0 0.5em 0;
    font-size: 20px;
}
.automation__heading {
    font-size: 28px;
    margin: 0;
    text-align: center;
    margin-bottom: 0.25em;
}

.automation {
    background-color: rgba(0, 0, 0, 0.7);
}

@keyframes click-grow {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 18px;
    }
    .location-name--mobile-only {
        display: none;
    }
    .location-name--desktop-only {
        display: inline-block;
    }
    .header {
        width: 1000px;
        margin: 0 auto;
    }
    .location-name {
        font-size: 48px;
    }
    .location-navigation__item {
        font-size: 28px;
        width: 220px;
    }
    .info-bar {
        flex-direction: row;
        gap: 1em;
    }
    .resources-container {
        overflow: hidden;
        justify-content: center;
        padding: 0;
    }
    .automation__info {
        height: 200px;
    }
    .automation__image {
        height: 200px;
        width: 200px;
    }
    .automation__main {
        gap: 100px;
    }
    .mining {
        display: flex;
        flex-direction: column;
        justify-content: space-between; 
    }
    .automation__heading {
        font-size: 2rem;
        margin: 0;
    }
    .automation__item-heading {
        font-size: 1.5rem;
    }
    .automation__stats {
        font-size: 2rem;
    }
    .automation__main {
        display: none;
        padding-bottom: 1em;
    }
    .automation__main--visible {
        display: flex;
    }
}

@media (min-width: 1600px) {
    .resource {
        width: 400px;
    }
    .resource__main {
        width: 400px;
        height: 400px;
    }
    
    .automation__info {
        height: 300px;
    }
    .automation__image {
        height: 300px;
        width: 300px;
    }
}